* {
    padding: 0px;
    margin: 0px;
}

.look img {
    width: 100%;
    height: 700px;
}

.round-img {
    margin: auto;
    display: flex;
    gap: 60px;
    margin-top:60px;
    
}
.collection{
    text-align: center;

}
.collection p{
    margin-top: 10px;
    font-weight: bold;
}

.collection:nth-child(1){
    margin-left: 260px;
}
.ellipse1 {

    border-radius: 100px;
    background-color: #ddd3eb;
    
}

.ellipse2 {
    border-radius: 100px;
    background-color: #F1DBE9;
}

.ellipse3 {
    border-radius: 100px;

    background-color: #d3eaeb;
}

.ellipse4 {
    border-radius: 100px;
    
    background-color: #eff1d9;
}

.ellipse5 {
    border-radius: 100px;
    
    background-color: #f1dadb;
}

.ellipse6 {
    
    border-radius: 100px;
    background-color: #d9f1de;
}

.deals{
    width:80%;
    margin-left:200px;
    margin-top: 40px;
}
.collection1{
    display: flex;
    gap: 20px;
}
.collection2{
    display: flex;
    gap: 20px;
    margin-top: 20px;

}
.collection1 img{
    width:50%;
   
}
.collection2 img{
    width:50%;
}