* {
    padding: 0px;
    margin: 0px;
}

.trending {
    display: flex;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.trending img {
    height: 6%;
    width: 27%;

}

.trending img:nth-child(1) {
    margin-left: 200px;
}

.trending h1 {
    margin-left: 100px;
    margin-right: 100px;
    
}

.shirt {
    background-image: url('../../public/images/Rectangle3.png');
    background-repeat: no-repeat;
    height: 500px;
    background-size: cover;
    display: flex;
    align-items: center;


}

.shirt div {
    width: 50px;
    height: 50px;
    border-radius: 40px;
    background-color: white;
    margin-left: 40px;
}

.shirt div img {
    position: absolute;
    margin-left: -10px;
    margin-top: 15px;

}

.buttons {
    display: flex;

    display: block;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

.btn {
    width: 40px;
    height: 40px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 1px solid #E6E6E6;
    margin-left: 15px;

}

.trending-tshirt {
    display: flex;
    gap: 30px;
    margin-left: 200px;
    align-items: center;
}

.cart-img {
    width: 21%;
    text-align: center;

}

.tshirt img {
    width: 100%;
}
.shirt-end{
    background-image: url('../../public/images/Rectangle7.png');
    background-repeat: no-repeat;
    height: 500px;
    background-size: cover;
    display: flex;
    align-items: center;
}
.shirt-end div {
    width: 50px;
    height: 50px;
    border-radius: 40px;
    background-color: white;
    margin-left: 40px;
}

.shirt-end div img {
    position: absolute;
    margin-left: -10px;
    margin-top: 15px;

}
.view-all{
    width: 200px;
    height: 50px;
    background-color: #770015;
    color: white;
    display: block;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
.look img {
    width: 100%;
    height:500px;
}
.blurr{
    background-image: url('../../public/images/reactangle.png');
    background-repeat: no-repeat;
    height: 60px;
    color: white;
    text-align: center;
}
.blurr2{
    background-image: url('../../public/images/rectangle1.png');
    background-repeat: no-repeat;
    height: 60px;
    color: white;
    text-align: center;
}
.blurr3{
    background-image: url('../../public/images/rectangle10.png');
    background-repeat: no-repeat;
    height: 60px;
    color: white;
    text-align: center;

    
}
.collections{
    display: flex;
    gap:60px;
    align-items: center;
    font-size: 20px;
    width: 80%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
.collection-img1{
    background-color: #06b8a6;
}
.collection-img2{
    background-color:#80e8ff;
}
.collection-img3{
    background-color:hsl(6, 70%, 55%);
    }
#secure{
    margin-left: 70px;
}
.blurr4{
    background-image: url('../../public/images/rectangle2.png');
    background-repeat: no-repeat;
    height: 60px;
    color: white;
    text-align: center;
}
.blurr5{
    background-image: url('../../public/images/reactangle3.png');
    background-repeat: no-repeat;
    height: 60px;
    color: white;
    text-align: center;
}
.blurr6{
    background-image: url('../../public/images/react.png');
    background-repeat: no-repeat;
    height: 60px;
    color: white;
    text-align: center;
}
.collection-img4{
    background-color:#d7b2ff;
}
.collection-img5{
    background-color:#f0bc8c;
}
.collection-img6{
    background-color:#4392f1;
    }
